body{
    background-color: #00DBDE;
background-image: linear-gradient(90deg, #00fbff 0%, #fb00ff 100%);

}
.header1{
    box-shadow: 15px 15px 30px black;
}
.header1 p{
    letter-spacing: 10px;
    font-weight: bold;
    color:greenyellow;
    font-size: large;
}
.header2 button{
    width: 150px;
    border-radius: 5px;
    margin-top: 30px;
}
.footer{
    bottom:0;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: greenyellow;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    

}